body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #299E24;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #E85535;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover, .activo {
    text-decoration: underline;
}

section {
    padding: 40px;
    background-color: white;
    margin: 20px auto;
    width: 90%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    display: block;
    margin: 10px 0;
}

button {
    background-color: #299E24;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #0066cc;
}

footer {
    background-color: #004d99;
    color: white;
    text-align: center;
    padding: 10px;
}